<!-- Header -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">KubeStar</a>
  </div>
</nav>

<!-- Main -->
<main class="container">
  <form @submit.prevent="onSubmit" class="row g-2">
    <div class="col-auto">
      <label class="visually-hidden" for="namespace">Namespace</label>
      <input
        class="form-control"
        v-model="namespace"
        id="namespace"
        placeholder="Namespace"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Listar</button>
    </div>
    <div class="col-auto">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="autorefresh"
            v-model="hasAutorefresh"
          />
          <label class="form-check-label" for="autorefresh">
            Auto refresh
          </label>
        </div>
    </div>
    <div class="spinner-border" role="status" v-if="loading">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>

  <h3>Pods ({{pods.length}})</h3>
  <div class="row" v-bind:class="{ 'row-cols-2': pods.length == 2, 'row-cols-3': pods.length >= 3 }">
    <div class="col mb-3 mb-sm-0" v-for="pod in pods">
      <div class="card">
        <div class="card-header">{{pod.metadata.name}}</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Status: {{pod.status.phase}}
          </h6>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            v-for="cont in pod.status.containerStatuses"
          >
            <div><strong>{{cont.name}}</strong></div>
            <div>{{cont.image}}</div>
            <div>
              <a href="#" class="card-link" @click.prevent="showLog">Log</a>
              <a href="#" class="card-link" @click.prevent="showShell">Shell</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>  
</main>
<div v-if="pods.length">
  <shell></shell>
  <log></log>
</div>
